* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: sans-serif;

  background: linear-gradient(0deg, #333, white 67%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container {
  text-align: center;
  margin-top: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 28px;
  font-weight: 700;
  border-bottom: 2px solid #333;
}
.btn {
  background: inherit;
  border: 2px solid #333;
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.2s ease;
  margin: 5px;
}
.btn:active {
  border: 2px solid #f4f4f4;
  color: gray;
  background: #f3f3f3;
}

#error {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(207, 0, 0);
}

span{
      border-bottom: 2px solid #333;
      font-size: 48px;
      font-weight: 700;

}